<section>
  <div class="text-center mt-5">
    <h1>Editar Juguetes</h1>
    <p>En este apartado podras editar los juguetes</p>
  </div>
</section>
<section class="m-5">
  <div class=" m-5">
    <form class="text-center">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Proveedor" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Precio" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Descripcion" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>
    </form>
  </div>
</section>
