<section>
  <div class="text-center mt-5">
    <h1>Editar Juguete</h1>
    <p>En este apartado podras editar el juguete seleccionado</p>
  </div>
</section>
<section class="m-5">
  <div class=" m-5">
    <form class="text-center" [formGroup]="formjuguetes" (submit)="EditarDatos()">
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="nombre">
      </div>
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="NIF" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="nif">
      </div>
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Contacto" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="contacto">
      </div>
      <div class="input-group flex-nowrap p-2">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Direccion" aria-label="Username"
          aria-describedby="addon-wrapping" formControlName="direccion">
      </div>
      <button class="btn btn-primary btn-lg m-2" (click)="ActualizarDatos()">Registrar cambios</button>
      <button class="btn btn-primary btn-lg m-2" (click)="Eliminar()">Eliminar juguete</button>
    </form>
  </div>
</section>
