<section>
  <h1 class="text-center m-4">Clientes</h1>
  <p class="text-center">Mira las distintas opciones de los clientes</p>
</section>
<section>
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-lg m-2" routerLink="añadir">Añadir Clientes</a>
  </div>
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-lg m-2" routerLink="lista">Listado Clientes</a>
  </div>

  <div class="col-md-12 text-center">
    <button class="btn btn-danger btn-lg m-2" (click)="volverAtras()">Volver</button>
  </div>
</section>
