<section>
  <h1 class="text-center m-4">Juguetes</h1>
  <p class="text-center">Mira las distintas opciones de los juguetes</p>
</section>
<section>
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-lg m-2" routerLink="añadir">Añadir Juguetes</a>
  </div>
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-lg m-2" routerLink="vender">Listado Juguetes</a>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-danger btn-lg m-2" (click)="volverAtras()">Volver</button>
  </div>
</section>
