<section class="mt-5">
  <h2 class="text-center">Elija la opcion que desea ver</h2>
</section>

  <div class="container">
    <div class="row">
     <div class="col-lg-1"></div>
     <div class="col-lg-10">
      <div class="text-center">
        <a class="btn btn-primary btn-lg m-2" routerLink="/opcionesCrud">Administrar CRUD</a>
      </div>

      <div class="text-center">
        <a class="btn btn-primary btn-lg m-2" routerLink="">Tienda</a>
      </div>
     </div>
    <div class="col-lg-1"></div>
 </div>
</div>


