<section>
  <div class="text-center mt-2">
    <h1>Ventas a clientes</h1>
    <h3>Seleccione el juguete y el cliente a vender</h3>
  </div>
</section>

<section class="mt-4">
  <div>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let c of clientesLista">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{c.nombre}}
            <p>NIF: {{c.nif}}</p>
            <p>Direccion: {{c.direccion}}</p>
            <p>Contacto: {{c.contacto}}</p>
          </div>
        </div>
        <div>
          <a class="btn btn-primary m-5" routerLink="/tienda/ventaClientes/jugueteVender">Vender</a>
        </div>
      </li>
    </ol>
  </div>
</section>
